/*Pokemon Css Start here written by Sowjanya Kandra*/
/*Based on the type of the pokemon different colors are added*/
.rock {
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.ghost {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.electric {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.bug {
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

.poison {
    background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}

.normal {
    background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

.fairy {
    background-image: linear-gradient(to top,
            #ff9a9e 0%,
            #fecfef 99%,
            #fecfef 100%);
}

.fire {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.grass {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.water {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.ground {
    background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}

.app-container {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 0rem 1rem 3rem 1rem;
}

.app-container h1 {
    width: 100%;
    color: rgb(16, 166, 236);
    overflow: hidden;
    white-space: nowrap;
    animation: text 4s steps(15) infinite alternate;
}

@keyframes text {
    0% {
        width: 0ch;
    }

    50% {
        width: 15ch;
        color: rgb(218, 55, 5);
    }
}

.pokemon-container {
    display: contents;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0.2rem;
    margin: 1.3rem;
    border: 1px solid #efefef;
    border-radius: 2rem;
    min-width: 205px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

h3 {
    margin-bottom: 0.2rem;
}

.card-container img {
    width: 120px;
    height: 120px;
}

.card-container small {
    text-transform: capitalize;
    padding: 1px;
}

.pokemon-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.load-more {
    background-color: #03425a;
    border-radius: 6px;
    border: 1px solid #c6c6c6;
    color: #FFFFFF;
    padding: 0.5rem 1.5rem;
    min-width: 15%;
}

.cursor-pointer {
    cursor: pointer;
}

.desc {
    width: 100%;
    height: 100%;
    position: absolute;
}

.pokemon-img-container,
.pokemon-desc-container {
    top: 10%;
    position: relative;
    width: 30%;
    left: 35%;
    box-shadow: 0 3px 15px rgb(3 66 90 / 77%);
    border-radius: 10px;
}

.pokemon-img-container div {
    padding: 5%;
    display: contents;
}

.pokemon-img-container img {
    width: 40%;
}


.pokemon-desc-container {
    padding-top: 2%;
    height: 40%;
}

.pokemon-desc-container .pokemonName_Details {
    background: #d42f0b;
    width: 50%;
    margin-left: 25%;
    border-radius: 12px;
    padding: 1%;
    color: white;
    font-weight: bold;
}

.pokemon-img-container .card-container {
    width: 100%;
    height: 100%;
}

.pokemon-img-container .card-container img {
    width: 50%;
    height: 75%;
}

input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #FFFFFF;
    border: 2px solid #2d2d2e82;
    border-radius: 4px;
}

.pokemon-search {
    width: 50%;
    text-align: start;
    padding-left: 3%;
    height: 100%;
}

.filter-pokemon {
    width: 50%;
    text-align: end;
    padding-right: 4%;
}

.filter-pokemon .custom-select {
    height: 100%;
    width: 15%;
}

.pokemon-toolbar {
    width: 100%;
    height: 1%;
    display: flex;
}

.explore-pokemon {
    background-color: #04040480;
    border-radius: 6px;
    border: 1px solid #c6c6c6;
    color: #FFFFFF;
    min-width: 15%;
    margin-top: 1rem;
    padding: 5px;
    cursor: pointer;
}

.sortby {
    padding: 5px;
}

.desc-main-div {
    width: 100%;
    display: inline-flex;
}

.abilities span {
    background: #0bd4868f;
    width: 50%;
    border-radius: 12px;
    padding: 2%;
    color: white;
}

.abilities div {
    height: 18%;
}

.characteristics,
.abilities {
    width: 50%;
    text-align: left;
    padding-left: 13%;
}

/*Note to me : Need to implement --input-border like this variables for all teh font sizes and colors*/
/*Pokemon Css end here written by Sowjanya Kandra*/